<div id="myInfo">
  <details>
    <summary>Experience</summary>
    <ul>
      <li>I am developing my pet-projects till now</li>
      <li>I have passed successfully more than 4 tests for interview</li>
      <li>I made some teams that were developing some projects together and I was managing them and doing some tasks as a developer</li>
      <li>I have knowledge in Databases, EntityFramework and making API</li>
      <li>I have made some creative User Interfaces and Creative Designs</li>
      <li>I communicate regularly with more experienced developers.</li>
    </ul>
  </details>

  <details>
    <summary>Practical knwoldedge</summary>
    <ul>
      <li>Searching, Sorting Algorythms</li>
      <li>Data Structures</li>
      <li>OOP, SOLID, KISS, DRY, GRASP</li>
      <li>Entity Framework, Database models, Relationships</li>
      <li>Async/await, Thread, ThreadPool, Mutex, Semaphore</li>
      <li>GoF patterns, MV, MVVM, MVC</li>
      <li>Microservices, HTTP, WebSockets, ORM technology</li>
      <li>Unit and Integration testing</li>
      <li>HTTP, TCP, UDP, CORS, Caching, REST</li>
      <li>OAuth2: JWT</li>
      <li>Kestrel, IIS</li>
      <li>ASP.NET Core: middleware (app.Use, app.Run)</li>
      <li>GitHub versions control</li>
    </ul>
  </details>
  <details>
    <summary>Teorical knwoldedge</summary>
    <ul>
      <li>English - B2 (I can write letters and documents on English, talking on different topics and understand 90% words)</li>
      <li>C# - 1,5 years</li>
      <li>.NET, ASP.NET Core: 1 year 3 months</li>
      <li>SQL Server, SQLite: 1 year 2 months</li>
      <li>JavaScript: 1 year</li>
      <li>JSON, XML: 8 year</li>
      <li>WPF, WinForms, UWP: 7 months</li>
      <li>Angular(TypeScript): 6 months</li>
      <li>TCP, UDP: 2 months</li>
      <li>NUnit, xUnit, MSTest: 2 month</li>
      <li>MongoDB: 1 month</li>
      <li>Selenium, FluentAssertions, NSubstitute: 2 weeks</li>
    </ul>
  </details>
  <details>
    <summary>Courses</summary>
    <ul>
        <li><a href="https://testprovider.com/ru/search-certificate/tp43302909">TP43302909</a> - Interview questions about C#</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp03154144">TP03154144</a> - Interview questions .Net. Part II</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp37092621">TP37092621</a> - Interview questions about C#</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp52927308">TP52927308</a> - Business English</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp59178574">TP59178574</a> - IT English</li>
    </ul>
  </details>
</div>
