<div id="myInfo">
  <details>
    <summary>Work</summary>
    <details class="work-info">
      <summary><div>RedMonkey</div></summary>
      <li>I was making functionality for <b>Database</b>.
        Writing <b>WebAPI</b> on .NET for different actions with <i>DB</i>.
        I was writing querries and commands on PostgreSQL and MS SQL Server.
        Were coded <b>parsers</b> and <b>automated sites</b>(filling some inputs, clicking buttons etc.).
      </li>
    </details>
    <details class="work-info">
      <summary><div>VIS</div></summary>
      <li>Front-end on <b>Angular</b>. Using Angular Materials, asynchronous tasks, dialog-windows.</li>
    </details>
  </details>

  <details>
    <summary>Experience</summary>
    <ul>
      <li>I am developing my pet-projects till now</li>
      <li>I made some teams that were developing projects together. I managed them and did some tasks as a developer</li>
      <li>I am developing <b>Full</b> (Backend + Frontend) aplications more than <i>14 months</i></li>
      <li>I am learning <i>UI/UX Design</i> and different styles for creating Amazing and Creative websites</li>
      <li>I communicate regularly with more experienced developers.</li>
    </ul>
  </details>

  <details>
    <summary>Practical knowledge</summary>
    <details>
      <summary>.NET knowledge</summary>
      <li>Data Structures</li>
      <li>OOP, SOLID, KISS, DRY, GRASP</li>
      <li>Entity Framework, Database models, Relationships</li>
      <li>Async/await, Thread, ThreadPool, Mutex, Semaphore</li>
      <li>GoF patterns, MV, MVVM, MVC</li>
      <li>Unit and Integration testing</li>
      <li>TCP, UDP, CORS, Caching, REST</li>
      <li>OAuth2: JWT</li>
      <li>Kestrel, IIS</li>
      <li>ASP.NET Core: middleware (app.Use, app.Run)</li>
      <li>Dto models</li>
    </details>
    <details>
      <summary>Angular</summary>
      <li>Clear code</li>
      <li>Project configuration</li>
      <li>Components, containers, dialogs</li>
      <li>Directives(existing or custom)</li>
      <li>Modules</li>
      <li>HTTP requests(HttpClient)</li>
      <li>Pipes</li>
      <li>Binding(one-way, two-way, event emitting)</li>
      <li>Lifecycles of components</li>
      <li>Services and DI</li>
      <li>Reactive forms(FormController, FormGroup)</li>
      <li>Routing(Parameters, child routes)</li>
      <li>Angular Materials</li>
    </details>
    <details>
      <summary>Others</summary>
      <li>GitHub versions control</li>
      <li>Microservices, HTTP, WebSockets, ORM technology</li>
      <li>Searching, Sorting Algorythms, Binary trees and etc.</li>
      <li>Parsing sites with HTML Agility Pack</li>
      <li>Automation web-sites with Selenium</li>
    </details>
  </details>
  <details>
    <summary>Teorical knowledge</summary>
    <ul>
      <li>English - B2 (I can write letters and documents on English, talking on different topics and understand 90% of words)</li>
      <li>C# - 1 year 8 months</li>
      <li>.NET, ASP.NET Core: 1 year 5 months</li>
      <li>SQL Server, SQLite: 7 months</li>
      <li>JSON, XML: 1 year 5 months</li>
      <li>WPF, WinForms, UWP: 7 months</li>
      <li>JavaScript: 1 year 5 months</li>
      <li>Angular: 11 months</li>
      <li>JQuery: 4 months</li>
      <li>TCP, UDP: 9 months</li>
      <li>NUnit, xUnit, MSTest: 7 months</li>
      <li>MongoDB: 6 month</li>
      <li>Selenium, FluentAssertions, NSubstitute: 6 months</li>
    </ul>
  </details>
  <details>
    <summary>Courses</summary>
    <ul>
        <li><a href="https://learn.microsoft.com/uk-ua/users/81726888/achievements">Microsoft</a> - "New Year - New C# Certification"</li>
        <li><a href="https://testprovider.com/ru/search-certificate/TP12920591">CyberBionic Systematics</a> - C# Professional</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp37092621">CyberBionic Systematics</a> - Interview questions about .Net Part I</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp03154144">CyberBionic Systematics</a> - Interview questions .Net. Part II</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp52927308">CyberBionic Systematics</a> - Business English</li>
        <li><a href="https://testprovider.com/ru/search-certificate/tp59178574">CyberBionic Systematics</a> - IT English</li>
        <li><a href="https://ru.w3docs.com/quiz/certificate/58/72/1704194991/%D0%A0%D1%8F%D0%B1%D1%96%D0%BD%D1%87%D0%B0%D0%BA%20%D0%92%D0%B0%D0%BB%D0%B5%D0%BD%D1%82%D0%B8%D0%BD%20%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9%D0%BE%D0%B2%D0%B8%D1%87/dc23c1e2e6ad7cacd876b7e3c16fb363">W3docs</a> - Angular</li>
        <li><a href="https://ru.w3docs.com/quiz/certificate/11/68/1704196499/%D0%A0%D1%8F%D0%B1%D1%96%D0%BD%D1%87%D0%B0%D0%BA%20%D0%92%D0%B0%D0%BB%D0%B5%D0%BD%D1%82%D0%B8%D0%BD%20%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9%D0%BE%D0%B2%D0%B8%D1%87/b52d68b667da853656d69c97bce23b99">W3docs</a> - JavaSCript</li>
        <li><a href="https://www.codecademy.com/profiles/MREX-X/certificates/65f0ff88f4fc58e0536b3b51648dff24">CODECADEMY</a> - C# Course</li>
        <li><a href="https://www.codecademy.com/profiles/MREX-X/certificates/df765ae3c535f37c36b83eaeae2b88b6">CODECADEMY</a> - CSS and Bootstrap</li>
        <li><a href="https://www.codecademy.com/profiles/MREX-X/certificates/9eb0741e5ebef1f9f58a53bfac67d3a7">CODECADEMY</a> - HTML Course</li>
    </ul>
  </details>
</div>
