div {
  height: 500px;
}

#myInfo {
  display: inline-block;
  font-size: 24px;
  font-family: cursive;
  width: 30%;
  height: auto;
}

.work-info summary{
  margin-bottom: 15px;
}

#myInfo > details > details {
  margin-left: 24px;
  border: solid 2px orange;
  border-radius: 15px;
  padding: 15px;
}

#myInfo details[open] div {
  height: fit-content;
  display: inline;
  width: 100%;
  color: yellow;
  background-color: purple;
  border-radius: 15px;
  padding: 10px;
  border: solid 2px black;
}

#myInfo ul {
  font-size: 18px;
  font-family: sans-serif;
}
