<nav>
  <a routerLink="/main">Main</a>
  <a routerLink="/achievements">Achievements</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/about">About</a>
  <img class="myPhoto" src="./assets/myPhoto.png">
</nav>

<ul id="news">
  <li *ngFor="let topic of news">{{topic}}</li>
</ul>

<div class="title">
  <h1>{{title}}</h1>
  <h2>.NET/Angular Developer</h2>
  <h2 id="fullName">Valentine Riabinchak</h2>
</div>

<router-outlet></router-outlet>


<div class="goUpBtn">
  <a href=".title">Go up</a>
</div>

<footer>Made by Valentine Riabinchak <img src="./assets/registered.png"></footer>
