nav a {
  margin: 2px;
  border: 2px solid purple;
  color: blueviolet;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  background-color: yellow;
  padding: 5px;
}
nav a:hover {
  background-color: purple;
  color:orange;
  margin: 0px -5px;
  transition: margin 2s, color 1s;
}

nav {
  width: 20%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  float: left;
}
a{
  display: block;
  width: auto;
}

.title {
  display: block;
  text-align: center;
  color: purple;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  background-image: url("/assets/img/giphy.gif");
}

.titleGif {
  display: inline;
  text-align: center;
}

.title > h2 {
  display: block;
  margin-left: 15%;
}

.myPhoto {
  width: 90%;
  margin: 2px;
  margin-top: 10px;
  border: 5px solid blueviolet;
}

div {
  height: 500px;
}


footer {
  font-size: 24px;
  font-family: cursive;
  float:inline-end;
}

.goUpBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.goUpBtn > a{
  padding-top: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}
.goUpBtn:hover{
  transform: scale(1.5);
}

#news {
  float: right;
  width: 25%;
  font-size: x-large;
  font-family:cursive;
  list-style-image: url("/assets/img/news.png");
}
